
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    input::placeholder {
        color: black;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <!-- APP CSS -->
    <link rel="stylesheet" href="~/Resources/css/flogin.css" asp-append-version="true">
</head>
<body style="background-image: Url('/Resources/img/login//background.jpg');">
    <div class="form" id="signin-form">
        <a href="/Home/Index" class="form-logo">
            <img src="~/Resources/img/logo/TBGD_AandB_Logo.png" alt="PetSpa logo">
        </a>
        <form method="post">
            <div class="form-group">
                <input type="text" id="TenDangNhap" class="form-input" name="TenDangNhap" placeholder="Tên đăng nhập">
                <span class="form-input-err-msg" data-err-for="TenDangNhap"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-input" placeholder="Mật khẩu" id="signin-password" name="MatKhau">
                <span class="form-input-icon err"><i class='bx bx-error-circle'></i></span>
                <span class="form-input-icon success"><i class='bx bx-check-circle'></i></span>
                <span class="form-input-err-msg" data-err-for="signin-password"></span>
            </div>
            <button type="submit" class="form-btn" id="signin-btn">Đăng nhập</button>
        </form>
    </div>
    <script src="~/Resources/js/flogin.js" asp-append-version="true"></script>
</body>
</html>