
@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    input::placeholder {
        color: black;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <!-- APP CSS -->
    <link rel="stylesheet" href="~/Resources/css/flogin.css" asp-append-version="true">
</head>
<body style="background-image: Url('/Resources/img/login//background.jpg');">
    <div class="form" id="signin-form">
        <a href="/Home/Index" class="form-logo">
            <img src="~/Resources/img/logo/TBGD_AandB_Logo.png" alt="PetSpa logo">
        </a>
        <form method="post">
            <div class="form-group">
                <input type="text" id="TenDangNhap" class="form-input" name="TenDangNhap" placeholder="Tên đăng nhập">
                <span class="form-input-err-msg" data-err-for="TenDangNhap"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-input" placeholder="Mật khẩu" id="signin-password" name="MatKhau">
                <span class="form-input-icon err"><i class='bx bx-error-circle'></i></span>
                <span class="form-input-icon success"><i class='bx bx-check-circle'></i></span>
                <span class="form-input-err-msg" data-err-for="signin-password"></span>
            </div>
            <button type="submit" class="form-btn" id="signin-btn">Đăng nhập</button>
        </form>
        <span class="form-txt">Bạn chưa có tài khoản ? <a href="/KhachHang/DangKi">Đăng kí ngay !</a></span>
    </div>
    <script src="~/Resources/js/flogin.js" asp-append-version="true"></script>
</body>
</html>
<!-- Tự động ẩn thông báo sau 2 giây -->
<script>
    setTimeout(() => {
        document.querySelector('.alert-success')?.remove();
        document.querySelector('.alert-danger')?.remove();
    }, 2000);
</script>