@model Web_ThietBiGiaoDuc.Models.KhachHang

@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container d-flex justify-content-center">
    <form action="/KhachHang/DoiMatKhau" method="post" class="w-50" id="change-password-form">
        <div class="text-center">
            <h4>Đổi Mật Khẩu</h4>
            <hr />
        </div>

        <div class="form-group p-2">
            <label for="MatKhauCu" class="control-label">Mật khẩu cũ</label>
            <input type="password" id="MatKhauCu" name="MatKhauCu" class="form-control" required />
        </div>

        <div class="form-group p-2">
            <label for="MatKhauMoi" class="control-label">Mật khẩu mới</label>
            <input type="password" id="MatKhauMoi" name="MatKhauMoi" class="form-control" required />
        </div>

        <div class="form-group p-2">
            <label for="XacNhanMatKhau" class="control-label">Xác nhận mật khẩu mới</label>
            <input type="password" id="XacNhanMatKhau" name="XacNhanMatKhau" class="form-control" required />
        </div>

        <div class="form-group text-center p-4">
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            <a href="/Home/Index" class="btn btn-default">Quay lại</a>
        </div>
    </form>
</div>
<script src="~/Resources/js/changepass.js" asp-append-version="true"></script>