@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    p {
        font-size: 20px;
        color: black;
    }



    li {
        margin-bottom: 5px;
    }
</style>
<div class="container" style="min-height:400px;">
    <div class="row pb-4">
        <h3 style="text-align:center;">Thông tin liên hệ</h3>
    </div>
    <div class="row pb-lg-2 mb-5">
        <ul style="list-style-type: disc; padding-left: 20px;">
            <li>
                <strong>Trần Văn Đảo</strong>
                <ul style="list-style-type: circle; padding-left: 20px;">
                    <li>Mã sinh viên: 2001210818</li>
                    <li>SĐT: 0327845877</li>
                    <li>Email: vandaopq@gmail.com </li>
                </ul>
            </li>
            <li>
                <strong>Chiêm Hồng Hưng</strong>
                <ul style="list-style-type: circle; padding-left: 20px;">
                    <li>Mã sinh viên: 2001215834</li>
                    <li>SĐT: 0362577642</li>
                    <li>Email: hunghung2k33@gmail.com </li>
                </ul>
            </li>
            <li>
                <strong>Nguyễn Thanh Tiến</strong>
                <ul style="list-style-type: circle; padding-left: 20px;">
                    <li>Mã sinh viên: 2001210222</li>
                    <li>SĐT: 0908724106</li>
                    <li>Email: tiennguyen59382@gmail.com </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


