
@{
    ViewBag.Title = "Sửa Thông Tin Đơn Hàng";
}
<div class="container">
    <div class="page-inner">

        <div class="card">
            <div class="card-header">
                <div class="card-title">Thông Tin Đơn Hàng</div>
            </div>
            <div class="card-body">
                <form>
                    <div class="d-flex justify-content-between">
                        <!-- MaDH -->
                        <div class="col-md-2 mb-3 px-2">
                            <label for="MaSP" class="form-label">Mã Đơn Hàng</label>
                            <input type="text" class="form-control" id="MaDH" placeholder="DH001">
                        </div>
                        <!-- Ten Khách Hàng-->
                        <div class="col-md-3 mb-3 px-2">
                            <label for="TenSanPham" class="form-label">Tên Khách Hàng</label>
                            <input type="text" class="form-control" id="MaDH" placeholder="Hồng Hưng">
                        </div>
                        <div class="col-md-3 mb-3 px-2">
                            <label for="TenSanPham" class="form-label">Ngày Đặt Hàng</label>
                            <input type="date" class="form-control" id="NgayNhapHang" required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <!-- MaDH -->
                        <div class="col-md-2 mb-3 px-2">
                            <label for="MaSP" class="form-label">Email</label>
                            <input type="text" class="form-control" id="MaDH" placeholder="hunghung2k33@gmail.com">
                        </div>
                        <!-- Ten Khách Hàng-->
                        <div class="col-md-3 mb-3 px-2">
                            <label for="TenSanPham" class="form-label">Số Điện Thoại</label>
                            <input type="text" class="form-control" id="MaDH" placeholder="0362577642">
                        </div>
                        <div class="col-md-3 mb-3 px-2">
                            <label for="TenSanPham" class="form-label">Tổng Tiền</label>
                            <input type="text" class="form-control" id="MaDH" placeholder="3.000.000 vnđ">
                        </div>
                        <div class="col-md-3 mb-3 px-2">
                            <label for="TenSanPham" class="form-label">Trạng Thái Đơn Hàng</label>
                            <select name="order-status" aria-controls="basic-datatables" class="form-control" style="width:200px">
                                <option value="processing" class="text-dark">Đang xử lý</option>
                                <option value="shipping" class="text-primary">Đang giao hàng</option>
                                <option value="return-processing" class="text-warning">Đang xử lý đổi trả</option>
                                <option value="delivered" class="text-success">Giao hàng thành công</option>
                                <option value="failed" class="text-danger">Giao hàng không thành công</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3 px-2">
                        <label for="TenSanPham" class="form-label">Địa Chỉ Giao Hàng</label>
                        <textarea type="text" class="form-control" id="MaDH" placeholder="45 Trần Quốc Toản, Khu Phố 1,TP Phú Quốc"></textarea>
                    </div>
                    <div class="col-md-12 mb-3 px-2">
                        <label for="TenSanPham" class="form-label">Ghi Chú</label>
                        <input type="text" class="form-control" id="MaDH" placeholder="Đóng Gói Cẩn Thận">
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Sửa Đơn Hàng</button>
                </form>
            </div>
        </div>
    </div>
</div>

