
@{
    ViewBag.Title = "Quản lí phiếu nhập";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Quản lí phiếu nhập</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="dataTables_length" id="basic-datatables_length">
                                <label style="font-size:16px">
                                    Xem trạng thái
                                </label>
                                <select name="order-status" aria-controls="basic-datatables" class="form-control" style="width:200px">
                                    <option value="processing" class="text-dark">Đã đặt hàng</option>
                                    <option value="shipping" class="text-primary">Đang giao hàng</option>
                                    <option value="return-processing" class="text-warning">Nhập hàng thành công</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 d-flex justify-content-end">
                            @*<a href="/admin/donhang/them" class="btn btn-primary btn-round">Thêm mới</a>*@
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr>
                                    <th>Mã phiếu nhập</th>
                                    <th>Ngày nhập hàng</th>
                                    <th>Tổng Tiền</th>
                                    <th>Trạng thái </th>
                                    <th>Xử lí</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PN001</td>
                                    <td>01/11/2024</td>
                                    <td>5,000,000 VND</td>
                                    <td>Đã xử lý</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    title=""
                                                    class="btn btn-link btn-primary btn-lg"
                                                    data-original-title="Detail">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    class="btn btn-link btn-primary btn-lg"
                                                    title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    class="btn btn-link btn-danger"
                                                    title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PN002</td>
                                    <td>05/11/2024</td>
                                    <td>3,200,000 VND</td>
                                    <td>Chưa xử lý</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    title=""
                                                    class="btn btn-link btn-primary btn-lg"
                                                    data-original-title="Detail">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    class="btn btn-link btn-primary btn-lg"
                                                    title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button"
                                                    data-bs-toggle="tooltip"
                                                    class="btn btn-link btn-danger"
                                                    title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="basic-datatables_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="basic-datatables_previous">
                                        <a href="#" aria-controls="basic-datatables" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="basic-datatables" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item">
                                        <a href="#" aria-controls="basic-datatables" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>

                                    <li class="paginate_button page-item next" id="basic-datatables_next">
                                        <a href="#" aria-controls="basic-datatables" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
