
@{
    ViewBag.Title = "SendEmail";
}

<h2>SendEmail</h2>
<hr />
@if (ViewBag.msg != null)
{
    <div class="alert alert-success">@ViewBag.msg</div> 
}
@using (Html.BeginForm())
{
    <div class="input-group col-md-3">
        <input type="text" name="useremail" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-success mx-2" type="submit">
                Send
            </button>
        </div>
    </div>
}

