<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
